.App {
  text-align: center;
}
.container {
  margin: 12px 250px 0px 250px

}
.export-btn {
  float: right;
  margin-bottom: 10px !important;
}

.-button {
  float: center;
  background-color: aqua;
}

.ft {
  border-radius: 5px;
  background-color: aqua;
  border: solid brown;
}

#export {
  visibility: hidden;
}